<!doctype html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body class="vertical  light  ">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/sidebar') %>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1 class="page-title">Let's start</h1>
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <%- include('partials/footer') %>
    <!-- App JS -->
    <script src="static/js/apps.js"></script>
</body>

</html>
